<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <ul>
        {% for student in students %}
            <li>{{ student.name }} - {{ student.roll_number }} - {{ student.age }} - {{ student.email }} 
            <button><a href="{% url 'update_student' student.id %}">Update</a></button>
            <button><a href="{% url 'delete_student' student.id %}">Delete</a></button>
            </li>
        {% endfor %}
    </ul>
    <button style=><a href="{% url 'add_student' %}">Add Student </a> </button>
</body>
</html>